*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
header{
    color: #fff;
}
#amazon-logo{
    height: 40px; 
    width: 113px; 
    margin-top: 5px;
    position: relative;
    top: 10px;
}
main{
    background-color: lightgrey;
}
.nav-belt{
    height: 60px;
    width: 100%;
    background-color: #131921;
    display: flex;
    align-items: center;
}
.nav-left{
    display: flex;
    flex-grow: 1;
}
.nav-fill{
    flex-grow: 1;
}
.address{
    margin: 10px 2px 5px 2px;
    padding: 0 9px 0 9px;
    display: flex;
}
.address span{
    position: relative;
    top: 16px;
}
#ad-name{
    opacity: 0.8;
    font-size: 13px;
}
#ad-loc{
    font-weight: bold;
    font-size: 15px;
}
#search{
    background-color: orange;
    height: 40px;
    width: 45px;
    position: relative;
    top: 7px;
    margin-left: -7px;
}
input[type="text"]{
    height: 38px;
    width: 450px;
    margin-top: 5px;
    margin-left: 0;
}
#all{
    font-size: 12px;
    line-height: 30px;
    margin-left: 5px;
    width: 45px;
    height: 38.4px;
    margin-right: -7px ;
    position: relative;
    bottom: 1px;
}
.nav-right{
    margin-left: 20px;
    margin-top: 5px;
    display: flex;
    flex-grow: 1;
}
#flag{
    height: 16px;
    width: 21px;
}
#language{
    background-color: #131921;
    color: white;
    border: 0;
    margin-top: 10px;
    margin-right: 10px;
    flex-grow: 1;
}
.lang{
    position: relative;
    right: 15px;
}
a{
    color: white;
    text-decoration: none ;
    font-weight: bold;
    font-size: 16px;
}
.account>div{
    font-size: 14px;
}
.account{
    margin-left: 1rem;
    cursor: pointer;
    flex-grow: 1;
}
.order{
    margin-left: 1rem;
    cursor: pointer;
    flex-grow: 1;
}
.temp{
    font-size: 12px;
}
.cart{
    margin-left: 1rem;
    cursor: pointer;
    margin-top: 12px;
    flex-grow: 1;
}
.nav-main{
    height: 45px;
    width: 100%;
    background-color: #262f40;
    display: flex;
    justify-content: space-between;
}
.menu{
    background-color: #232f3e;
    color: white;
    border: 0;
    margin-top: 10px;
}
.shop-now-1{
    line-height: 15px;
    font-size: 17px;
    opacity: 0.7;

}
.shop-now{
    width: 30%;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 8px;
}
#shop{
    font-size: 20px;
}
.card{
    height: 370px;
    width: 400px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
.cards{
    height: 437px;
    width: 400px;
    border: 1px solid lightgray;
    margin: 20px;
    margin-left: 80px;
    background-color: #fff;
}
.cards h4{
    margin: 10px 0 5px 10px;
}
.c1{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    bottom: 300px;
    z-index: 12;
}
#main-img{
    width: 100%;
    position: relative;
    z-index: 1;
}
.d{
    height: 224px;
    width: 250px;
    border: 1px solid lightgray;
}
.deal-card{
    display: flex;
    overflow: hidden;
    margin-left: 10px;
}
.deals{
    width: 100%;
    height: 340px;
    background-color: white;
    /* border: 1px solid black; */
    position: relative;
    bottom: 200px;
    margin-bottom: 40px;
}
.deals h3{
    margin: 10px 0 40px 10px;
    position: relative;
    top: 20px;
    font-weight: 700;
}
.watches{
    height: 260px;
    width: 100%;
    background-color: white;
    position: relative;
    bottom: 200px;
}
.watch-img{
    display: flex;
    justify-content: space-around;
}
#banner{
    width: 90%;
    position: relative;
    left: 90px;
    bottom: 100px;
}
.shop-deal{
    height: 260px;
    width: 100%;
    background-color: #fff;
}
.foot1{
    background-color: #131921;
    height: 50;
    width: 100%;
    color: #fff;
    text-align: center;
}
.foot1 p{
    position: relative;
    top: 10px;
}
.foot2{
    height: 250px;
    width: 100%;
    background-color: #232f3e;
    color: #0f1111;
    display: flex;
    justify-content: space-evenly;
}
.l1{
    display: flex;
    flex-direction: column;
}
.l1 a{
    font-size: 13px;
    opacity: 0.7;
}
.l1 h4{
    color: white;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    margin-top: 50px;
}
.foot3{
    background-color: #232f3e;
    color: grey;
}
.foot3 img{
    position: relative;
    left: 500px;
    margin-bottom: 20px;
}
#lang-foot{
    width: 100px;
    position: relative;
    left: 700px;
    background-color: #232f3e;
    border: 2px white solid;
    color: white;
    margin-bottom: 20px;
}
.foot4{
    width: 100%;
    height: 50px;
    background-color: #232f3e;
    font-weight: normal;
    text-align: center;
}
.foot4 a {
    font-size: 13px;
    opacity: 0.7;
    margin-right: 7px;
}
.foot5{
    background-color: #131a22;
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}
.foot5 a {
    margin-right: 150px;
    margin-left: 70px;
    margin-top: 50px;
    opacity: 0.7;
    font-size: 13px;
}
.foot6{
    background-color: #131a22;
    width: 100%;
    height: 100px;
}
.f6-links{
    text-align: center;
}
.f6-links a{
    margin: 10px;
    font-weight: lighter;
    font-size: 13px;
    opacity: 0.9;
    margin-top: 20px;
}
.foot6 p{
    margin: 10px;
    font-weight: lighter;
    font-size: 13px;
    margin-top: 1px;
    text-align: center;
    color: white;
}
footer{
    position: relative;
    top: 150px;
}